body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  /* overflow: hidden; */
}

header {
  background-color: #0f0;
  padding: 20px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  color: #333;
}

.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
  width: auto;
  height: 80%;
}

.hero h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  line-height: 1.5;
}

.about-team {
  padding: 50px 0;
}
.team-members {
  display: flex;
}
[class|=team-member] {
  display: block;
  width: 30%;
  height: 30%;
  border-radius: 10%;
  border: 1px solid black;
  margin-left: 40px;
  padding: 8px;
}

.team-member-1{
  background-color: rgb(232, 138, 138);
}
.team-member-2{
  background-color: rgb(137, 239, 149);
}
.team-member-3{
  background-color: rgb(204, 241, 70);
}
.team-member-4{
  background-color: rgb(82, 166, 239);
}
.about-team-text {
  text-align: center;
  background-color: #0f0;
  height: 20vh;
  padding-top: 3rem;
}
h1{
  text-align: center;
}
.image{
  float: left;
  width: 50%;

}
.requirements{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;

}
/* .one{
  background-color: red;
}
.two{
  background-color: blue;
}
.three{
  background-color: green;
}
.four{
  background-color: yellow;
} */
.one,
.two,
.three,
.four {
  width: 290px;
  height: 250px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 7px 7px grey; */
  border: 2px solid black;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
  box-shadow: 7px 7px 5px grey;
  /* border: 3px solid black; */
  transition: 0.25s;
}

.hero-image {
  background-image: url("istockphoto-1311934969-612x612.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.submit{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  /* background-color: green; */
}
.submit-button{
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  font-size: 25px;
  background-color: cyan;
  box-shadow: 3px 3px 5px gray;
}
.submit-button:active{
  box-shadow: inset 5px 5px 5px gray;
}
.restaurant-img{
  height: 400px;
  /* background-color: lightgray; */
  background-size: cover;
}
.list{
  font-size: x-large;
}
.left{
  width: 45%;
  height: 500px;
  float: left;
  padding-right: 10px;
  /* background-color: red; */
}
.right{
  /* width: 700px; */
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name,.email{
  width: 200px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 5px;
  border: 1px  solid black;
}
.comments{
width: 200px;
height: 200px;
border-radius: 15px;
margin-top: 15px;
}
.submits{
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  font-size: 25px;
  background-color: cyan;
  box-shadow: 3px 3px 5px gray;
  margin-top: 20px;
}
.submits:active{
  box-shadow: inset 5px 5px 5px gray;

}